/* Home page specific styles */

body {
  background-image: url('../images/bg.png');
}

.hero {
  height: 50vh;
  background-attachment: fixed;
}

.hero__background {
  opacity: 0.3;
}

.hero__content {
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.info-section {
  margin-bottom: 60px;
}

.info-section__content {
  line-height: 2;
}

@media (max-width: 768px) {
  .page {
    height: calc(100vh - 60px);
  }

  .hero {
    height: 50vh;
  }
}
