body {
  background-image: url("../images/bg.jpg");
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.form-textarea {
  min-height: 100px;
  resize: vertical;
}
